name: Release

on:
  push:
    # 在新 tag 上运行
    tags:
      - "v*"
  # 允许手动触发
  workflow_dispatch:
env:
  GO_VERSION: "1.25.4"
# 这里的 permissions 只控制默认 GITHUB_TOKEN，对你用的 PAT 不生效
permissions:
  contents: write
  packages: write

jobs:
  # 先跑测试
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: setup go env
        uses: ./.github/actions/setup-env

      - name: Run tests
        run: go test -v -race ./...

  # 构建 + GitHub Release + 推送 Homebrew tap
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: setup go env
        uses: ./.github/actions/setup-env

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_GITHUB_TOKEN }}
